* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#root {
  width: 100%;
}

form {
  margin: auto;
  width: 100%;
  max-width: 500px;
  border: 1px solid #dadce0;
  padding: 40px;
  border-radius: 4px;
}

.formField {
  margin-bottom: 40px;
}

label {
  font-weight: bold;
  margin-bottom: 8px;
  display: block;
}

input {
  width: 100%;
  display: block;
  border: 1px solid #dadce0;
  border-radius: 4px;
  white-space: normal;
  font-size: 16px;
  height: 54px;
  padding: 13px 15px;
  text-align: left;
  transition: border .5s;
}

input:focus,
input:hover {
  border: 1px solid #1a73e8;
}

.formField__error {
  color: #d93025;
  font-size: 16px;
  position: absolute;
  margin-top: 5px;
}

button {
  font-size: 16px;
  border-radius: 4px;
  background: #1a73e8;
  color: #fff;
  border: 0;
  padding: 8px 16px;
  transition: opacity .5s;
}

button:focus,
button:hover {
  opacity: .5;
}